# Python
__pycache__/
*.py[cod]
*.pyo
.venv/
venv/
env/

# Jupyter
.ipynb_checkpoints/

# Environment variables
.env
.env.*

# Node / Next.js
node_modules/
.next/
out/

# VS Code
.vscode/

# OS
.DS_Store
Thumbs.db